<%= render :partial => '/profiles/errors', layout: false, locals: {resource: @profile }%>

<div >
  <div >
    <div>
      <h1>Create Your Profile</h1>
        <%= render "form" %>
    </div>
  </div>
</div>