<% if @profile.name %> <h3>Name: <%= @profile.name %></h3> 
<% end %>
<% if @profile.gender %> <h4>Gender: <%= @profile.gender %> </h4> 
<% end %>
<% if @profile.bio %> <h4>Bio: <%= @profile.bio %> </h4> 
<% end %>