<%= form_for(@recipes_diet_tag) do |f| %>
  <% if @recipes_diet_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipes_diet_tag.errors.count, "error") %> prohibited this recipes_diet_tag from being saved:</h2>

      <ul>
      <% @recipes_diet_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
