<%= form_for(@chef_specialty) do |f| %>
  <% if @chef_specialty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chef_specialty.errors.count, "error") %> prohibited this chef_specialty from being saved:</h2>

      <ul>
      <% @chef_specialty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
